// Nice container shadows from CSS-Tricks
.grid-item-shadow
{
  position:relative;
  -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 0px 4px rgba(0, 0, 0, 1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 0px 4px rgba(0, 0, 0, 1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
