$bg-color: rgb(27, 40, 56);

body {
  background-color: $bg-color;
}

#root {
  max-width: 100%;
}

.grid-container {
  margin: auto;
  justify-content: center;
  max-width: 95%;
}

.grid-item {
  background-color: rgb(23, 35, 49);
  margin: 3px;
  &-empty {
    background-color: $bg-color; // Empty grid items blend into background
  }
}

.content {
  height: 90vh;
  margin: 5px 5px 15px 5px;
  padding-top: 5px;
}

.titlebar {
  display: flex;
  align-items: center;
}

// MUI grid items add top/left padding but no bottom padding..
.MuiGrid-item {
  padding-bottom: 8px;
}

.note-icon {
  margin-right: 8px;
}